<%= content_for :page_title, t(".title") %>

<%= settings_section title: t(".title") do %>
  <%= styled_form_with model: Current.user, url: password_path, class: "space-y-4" do |form| %>
    <%= form.password_field :password_challenge, required: true, label: t(".password_challenge") %>
    <%= form.password_field :password, required: true, label: t(".password") %>
    <%= form.password_field :password_confirmation, required: true, label: true %>

    <div class="flex justify-end">
      <%= form.submit t(".submit") %>
    </div>
  <% end %>
<% end %>
